* {
    margin: 0;
    padding: 0;
   
}

body {
   
      
 
    font-family: 'popins', sans-serif;
    background-repeat: no-repeat;
   
    }

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: orange;
   
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    border-radius:50px;

}
 
nav ul li a:hover {
    color: rgb(153, 153, 226);
   
    font-size: 1.08rem;
}

main hr {
    border: 0px;
    background: rgb(27, 27, 136);
    height: 1.2px;
    margin: 50px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-between;

   margin: 90px ;
  
   border: none;
   border-radius: 60px 30px ;
    
    
    background-repeat: no-repeat;
   background-image: url("web.jpg");
    
}

.firstSection>div {
    width: 30%;


}

.leftSection {

    font-size: 2rem;
    margin: 30px ;
    
    
     
     
    
}

.leftSection .btn {
    padding: 12px;
    background-color:  orange;
    color:  aqua;
     font-size: 22px;
    cursor: pointer;
  
    
}
.leftSection .buttons{
margin:  10px;

}


.rightSection img {
    width: 100%;
    color:aqua;
     


}

.purple {
    color:blueviolet   ;
}

#element {
    color: blueviolet;
}

.secondSection {
    
    margin: auto;
    height: 80vh; 
margin-left:70px;
 
}

.secondSection h1 {

    font-size: 1.9rem;
    
    
}

.secondSection .box {
    background: black;
    width: 90vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    background-color: orange;
    
}

.text-gray {
    color: white;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: black;
    margin: 0 150px;
    background-color: orange;
    
}

.vertical-title {
    position: relative;
    top: 75px;
    left: -5px;

}


.image-top {
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
     
     
}

.vertical-desc {
    position: relative;
    top: 17px;
    color: black;
    width: 20px;
    font-size: 9px;
    margin: 20px;
     
     
}

footer {
    
    background-color: orange;
    
}
.footer {
    display:  flex;
    padding: 123px, 122px;
    justify-content:  justify;
    border-radius: 50px;
}

.footer ul {
    list-style: none;
}

.footer > div {
    width: 123px;
}

 .footer-rights {
   text-align: center; 
    color:white;
    
}
.footer-first{
    text-align: center; 

}
 
 .footer-second  {
    text-align: center; 
    

}
     .link
{
    animation-name:  link;
    animation-iteration-count:infinite ;
    animation-duration: 2s;
    list-style:none;

    
    
}
     @keyframes    link{
       from{
        margin-left: 60%;
       }
        to{
        margin-left: 0%;
       }
       
     }
      .footer-rights
     {
         animation-name: footer-rights;
         animation-iteration-count:infinite ;
         animation-duration: 2s;
     
         
         
     }
          @keyframes   footer-rights{
            from{
             margin-left: 60%;
            }
             to{
             margin-left: 0%;
            }
    
        }
    
   .rightSection:hover{
    box-shadow:0 12px 16px black;
 }
  .button:hover{
    box-shadow:0 10px 14px black;
 }
  .btn:hover{
    box-shadow:0 10px 14px black;
 }
  